.square {
  min-width: 120px;
  min-height: 120px;
  background-color: white;
  border-width: 0px;
  border-collapse: collapse;
}

.gameTable,
.gameRow,
.gameItem {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  margin-left: 37%;
}

#board {
  padding: 30px 0 30px 0;
  background-color: rgba(203,242,212,1);
}

.gameItem {
  width: 120px;
  height: 120px;
}

.center {
  text-align: center;
}

#root {
  text-align: center;
  font-size: 36px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

.button {
  padding: 10px 15px 10px 15px;
  font-weight: 800;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 16px;
}

.counter {
  padding-top: 50px;
  background-color: rgba(99,196,189,1);
}

.grad1 {
  padding: 450px;
  background: linear-gradient(180deg, rgba(99,196,189,1) 35%, rgba(203,242,212,1) 100%);
}

.game {
  margin-top: -50px;
  background-color: rgba(203,242,212,1);
}

#gameBar {
  margin-left: 43%;
}

.grad2 {
  padding: 450px;
  background: linear-gradient(180deg, rgba(203,242,212,1) 35%, rgba(248,255,219,1) 100%);
}

.colorchanger { 
  margin-top: -50px;
  padding-bottom: 200px;
  background-color: rgba(248,255,219,1);
}

.circle {
  width: 50px;
  height: 50px;
  margin-top: 40px;
  margin-left: 47.5%;
  padding: 20px 20px 20px 20px;
  border-radius: 50%;
}